/.quarto/
**/*.quarto_ipynb

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

notebooks-and-scripts/1-applied-data-science/4-credit-card-fraud-detection-ml-benchmark/data
notebooks-and-scripts/1-applied-data-science/5-customer-value-and-retention/python/local_config.py
notebooks-and-scripts/1-applied-data-science/6-customer-feedback-nlp/data
notebooks-and-scripts/1-applied-data-science/8-skin-lesion-triage/data